Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-sizeof-expression,
  bugprone-suspicious-memset-usage
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/ks_.*\\.h$'
FormatStyle: none
